.window-RankingMembers {
  background-color: #235789;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 85%;
  height: 68vh;
  border-radius: 15px;
  overflow: auto;
  margin: auto;
  border: 6px solid #235789;
}

.scrollbar-ListRankingMembers::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-ListRankingMembers::-webkit-scrollbar-thumb {
  background-color: #FAC748;
  border-radius: 10px;
}

.div-participants-RankingMembers {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 4px 0;
  width: 100%;
}

.margin-div-participant-RankingMembers {
  margin: 0 0.5rem;
}

.p-div-participant-RankingMembers {
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: left;
}

.margin-div-participant-RankingMembers {
  width: 6%;
}

.img-attendee-list-RankingMembers {
  max-width: 2.5em;
  border-radius: 50%;
}

.margin-p-div-participant-RankingMembers {
  margin-left: 10%;
}

.p-margin-div-participant-RankingMembers {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: left;
}

.margin-fa-trophy-RankingMembers {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

.fa-trophy-RankingMembers {
  color: #FAC748;
  font-size: 1.8em;
  position: relative;
  top: 7px;
}

.p-user-victories-trophy-RankingMembers {
  position: relative;
  color: black;
  font-size: 0.5em;
  bottom: 28px;
  text-align: center;
}

@media screen and (max-height: 570px) {
  .window-RankingMembers {
    height: 64vh;
  }
}