.modal-overlay-div {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, .65);
}

.ModalComponent {
  background-color: #235789;
  width: 50%;
  height: 90%;
  margin: auto;
  border-radius: 25px;
  outline: transparent;
  margin-top: 2rem;
}

.modal-title-container {
  background-color: white;
  height: 10vh;
  border-radius: 25px 25px 0 0;
  padding: 0.8rem;
  color: #235789;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1025px) {
  .ModalComponent {
    width: 70%;
    height: 90%;
  }
}

@media screen and (max-width: 500px) {
  .ModalComponent {
    width: 85%;
    height: 80vh;
    margin-top: 10vh;
  }
}