.div-NavbarMobile {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-NavbarMobile {
  max-width: 150px;
}

.links-NavbarMobile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 120px;
}

.avatar-NavbarMobile {
  max-width: 40px;
}

.star-icon-NavbarMobile {
  color: #FAC748;
  font-size: 1.8rem;
}

.p-victory-point-NavbarMobile {
  position: relative;
  bottom: 20px;
  color: black;
  font-size: 1rem;
}

.fa-sign-out-alt {
  font-size: 2.5rem;
  cursor: pointer;
  color: white;
}