.div-NavbarMobile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.link-logo {
  width: 42%;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-NavbarMobile {
  max-width: 150px;
  padding-left: 4px;
  cursor: pointer;
}

.links-NavbarMobile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 140px;
  margin-right: 20px;
}

.avatar-NavbarMobile {
  max-width: 40%;
  padding: 10px;
  border-radius: 100px;
}

.Navbar-trophy-icon {
  color: #FAC748;
  font-size: 1.8rem;
}

.Navbar-trophy-wrapper {
  position: relative;
  padding: 0 10px;
}

.Navbar-victory-points {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 1.2rem;
  font-family: FuturaPTMedium;
}

.fa-sign-out-alt {
  font-size: 2.5rem;
  cursor: pointer;
  color: #FAC748;
}

.Logout-text {
  display: none;
}

.btn-Logout {
  background: transparent;
  border: none;
  color: #FAC748;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
  padding: 0 0 0 10px;
}

@media screen and (min-width: 600px) {
  .link-logo {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }

  .logo-NavbarMobile {
    max-width: 220px;
    padding-left: 4px;
    cursor: pointer;
  }

  .links-NavbarMobile {
    width: 300px;
    margin-right: 20px;
    justify-content: normal;
  }

  .avatar-NavbarMobile {
    max-width: 25%;
    padding: 10px;
  }

  .Navbar-trophy-icon {
    font-size: 2.8rem;
  }

  .fa-sign-out-alt {
    display: none;
  }

  .Logout-text {
    display: inline;
  }
}

@media screen and (max-height: 570px) {
  .links-NavbarMobile {
    margin-right: 11px;
  }

  .fa-sign-out-alt {
    font-size: 2.2rem;
  }

  .Navbar-trophy-wrapper {
    padding: 0 5px;
  }

  .Navbar-victory-points {
    font-size: 0.9rem;
    top: 5%;
  }
}