.gallery-image {
  border-radius: 10px;
  width: 120px;
  height: 120px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
}

.photo-container .fa-star {
  font-size: 2rem;
}

.empty-stars-container {
  width: 100px;
  height: 32px;
}

.stars-container-photo,
.empty-stars-container {
  position: relative;
  top: 15px;
}