.gallery-image {
  border-radius: 10px;
  width: 130px;
  height: 130px;
  object-fit: cover;
  margin: 15px;
}

.photo-container .fa-star {
  position: relative;
  top: -10px;
  left: 45px;
  font-size: 2rem !important;
}