.div-StickyFooter {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FAC748;
  position: absolute;
  bottom: 0;
}

.div-camera-StickyFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #235789;
  font-weight: bold;
  cursor: pointer;
}

.div-camera-StickyFooter:hover {
  background-color: #235789;
  color: #FAC748;
}

.div-users-StickyFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #235789;
  font-weight: bold;
  cursor: pointer;
}

.div-users-StickyFooter:hover {
  background-color: #235789;
  color: #FAC748;
}

.div-user-StickyFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #235789;
  font-weight: bold;
  cursor: pointer;
}

.div-user-StickyFooter:hover {
  background-color: #235789;
  color: #FAC748;
}

.fa-camera,
.fa-users,
.fa-user-circle {
  color: #235789;
  font-size: 2rem;
}

.footer-title {
  font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
  .div-StickyFooter {
    display: none;
  }
}