.battlePost-info-div {
  margin-bottom: 10px;
}

.battlePost-info {
  background-color: #FAC748;
  color: #3181C8;
  cursor: pointer;
  font-family: FuturaPTMedium;
  border-style: none;
  font-weight: bolder;
  letter-spacing: 0.5px;
  border-radius: 50px;
  border: none;
  padding: 0 1rem;
  font-size: 1rem;
  outline: transparent;
  text-align: center;
}

.battlePost-rules {
  color: #FDFFFC;
  text-align: center;
}

.countdown {
  letter-spacing: 2px;
}

.countdown span{
  letter-spacing: 3px;
  background-color: #FAC748;
}

.picture {
  width: 264px;
  background-color: #FAC748;
  border-radius: 10px;
}

.uploadPicture {
  background-color: #FAC748;
  width: 264px;
}

.upload-ButtonPostpicture {
  border-radius: 50px;
  border: none;
  color: white;
  height: 5vh;
  padding: 0 1rem;
  font-size: 1rem;
  outline: transparent;
  background-color: #FAC748;
}