.battleCreationPage {
	background-color: #3181C8;
	width: 100vw;
	height: 100vh;
}

.createBattleBanner {
	background-color: #FDFFFC;
	color: #235789;
	padding: 30px 25px;
}

.cardBattle {
	background-color: #235789;
	color: #FDFFFC;
	margin: 30px 25px;
	padding: 30px 25px;
	border-radius: 15px;
}

.themeButton {
	background-color: #FAC748;
	color: #3181C8;
	border-radius: 15px;
}

.refreshed {
	display: none;
}
