.battlePost-info-div {
  margin-bottom: 10px;
}

.battle-post-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.battlePost-line {
  font-size: 2px;
}

.battlePost-span {
  color: #FAC748;
}

.battlePost-rules {
  color: #FDFFFC;
  text-align: center;
  margin-right: 1rem;
}

.countdown {
  letter-spacing: 2px;
}

.countdown span {
  letter-spacing: 3px;
  background-color: #FAC748;
}

.picture {
  width: 70%;
  background-color: #FAC748;
  border-radius: 10px;
  margin: auto;
  object-fit: contain;
}

.choose-file-btn {
  background-color: transparent;
  border: none;
  color: white;
}

.uploadPicture {
  background-color: #FAC748;
  width: 264px;
}

.upload-ButtonPostpicture {
  border-radius: 50px;
  border: none;
  color: white;
  height: 5vh;
  padding: 0 1rem;
  font-size: 1rem;
  outline: transparent;
  background-color: #FAC748;
}