.landingPage {
  background-color: #3181C8;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-div {
  display: flex;
  justify-content: center;
}

.logoLP {
  width: 115%;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.landing-join-button {
  background-color: #FAC748;
  border-radius: 28px;
  border: 1px solid rgb(247, 193, 57);
  cursor: pointer;
  color: #3181C8;
  font-family: Arial;
  font-size: 20px;
  padding: 12px 31px;
  text-decoration: none;
  margin: 2em auto 1em auto;
  display: flex;
  outline: none;
  font-family: FuturaPTMedium;
}

/* https://mediag.com/blog/popular-screen-resolutions-designing-for-all/ */
@media screen and (max-width: 414px) {
  .landingPage {
    font-size: 90%;
  }

  .logoLP {
    width: 80%;
    margin-top: 0.25rem;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 641px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

@media screen and (min-width:641px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}

@media screen and (min-width: 640px){
  .logoLP {
    width: 115%;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1024px){
  .logoLP {
    width: 600px;
    margin-top: 1rem;
  }
}