.window-ListParticipantsPost{
  background-color: #235789;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 66vh;
  border-radius: 15px;
  overflow: auto;
  margin-top: 3px;
  border: 6px solid #235789;
}
  
.scrollbar-ListParticipantsPost::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-ListParticipantsPost::-webkit-scrollbar-thumb {
  background-color: #FAC748;
  border-radius: 10px;
}

.div-participants-ListParticipantsPost {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 4px 0;
  width: 100%;
}

.margin-div-participant-ListParticipantsPost {
  margin: 0 15px;
}

.p-div-participant-ListParticipantsPost {
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: left;
}

.margin-div-participant-ListParticipantsPost {
  width: 6%;
}

.img-attendee-list-ListParticipantsPost {
  max-width: 2.5em;
  border-radius: 50%;
}

.margin-p-div-participant-ListParticipantsPost {
  margin-left: 10%;
}

.p-margin-div-participant-ListParticipantsPost {
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: left;
}

.margin-fa-trophy-ListParticipantsPost {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

.fa-trophy-ListParticipantsPost {
  color: #FAC748;
  font-size: 1.8em;
  position: relative;
  top: 7px;
}

.p-user-victories-trophy-ListParticipantsPost {
  position: relative;
  color: black;
  font-size: 0.5em; 
  bottom: 28px;
  text-align: center;
}

.margin-fa-image-ListParticipantsPost {
  padding-right: 50px;
  width: 5%;
}

.fa-image-ListParticipantsPost {
  font-size: 2rem;
}