.background-MyBattles {
  width: 100%;
  background-color: #3181C8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MyBattles-cardList {
  background-color: #235789;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 70vw;
  height: 66vh;
  border-radius: 15px;
  padding: 15px;
  }

.MyBattles-card {
  background-color: #3181C8;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 20px;
  width: 100%;
}

.MyBattles-crown {
  color: #FAC748;
  position: relative;
  left: 90%;
  top: -20%;
  margin-bottom: -5%;
}

.MyBattles-card-title {
  align-self: flex-start;
  font-size: 15px;
  font-weight: 200;
}

.MyBattles-card-time {
  color: #FAC748;
  font-size: 14px;
}

.MyBattles-card-button {
  align-self: flex-end;
  background-color: #FAC748;
  border: 2px solid #FAC748;
  cursor: pointer;
  color: #3181C8;
  border-radius: 20px;
  padding: 5px 10px;
  text-align: center;
  font-weight: bold;
}

.MyBattles-card-group {
  align-self: flex-start;
  color: #FDFFFC;
  font-style: italic;
  font-size: 14px;
}