.background-MyBattles {
  width: 100%;
  background-color: #3181C8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MyBattles-cardList {
  background-color: #235789;
  border: 5px solid #235789;
  align-self: center;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  max-height: 67vh;
  border-radius: 15px;
  padding: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: 5px;
  scrollbar-color: #FAC748;
}

.MyBattles-cardList::-webkit-scrollbar {
  width: 5px;
}

.MyBattles-cardList::-webkit-scrollbar-thumb {
  background-color: #FAC748;
  border-radius: 20px;
}

.MyBattles-card {
  background-color: #3181C8;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  width: 100%;
}

.MyBattles-crown {
  color: #FAC748;
  position: relative;
  left: 90%;
  bottom: 20px;
  margin-bottom: -8%;
}

.MyBattles-notAdmin {
  display: none;
}

.MyBattles-card-title {
  font-size: 15px;
  font-weight: 200;
}

.MyBattles-card-time {
  color: #FAC748;
  font-size: 14px;
  margin-bottom: 5px;
}

.MyBattles-card-button {
  align-self: flex-end;
  background-color: #FAC748;
  border: 2px solid #FAC748;
  cursor: pointer;
  color: #3181C8;
  border-radius: 20px;
  padding: 5px 10px;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.MyBattles-card-group {
  align-self: flex-start;
  color: #FDFFFC;
  font-style: italic;
  font-size: 14px;
}

@media screen and (max-width: 369px) {
  .MyBattles-cardList {
    max-height: 70vh;
  }
}