.window-MyPictures {
  background-color: #235789;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 75vw;
  border-radius: 15px;
  font-size: 3rem;
  }