.background-MyProfile {
  width: 100%;
  height: 100vh;
  background-color: #3181C8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.window-MyProfile {
  background-color: #235789;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 80vh;
  width: 75vw;
  border-radius: 15px;
}

.name-fa-star-MyProfile {
  margin-top: 20px;
}

.name-MyProfile {
  font-size: 1.8rem;
}

.fa-star {
  color: #FAC748;
  padding-left: 15px;
}

.div-avatar-Myprofile {
  margin-top: 30px;
}

.avatar-MyProfile {
  max-width: 200px;
}

.div-informations-MyProfile {
  color: #FAC748;
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: bold;
}

.div-informations-MyProfile p {
  padding: 1px
}

.button-createdNewGroup-MyProfile {
  background-color: #FAC748;
  color: #235789;
  margin-top: 40px;
  font-size: 0.9rem;
  font-weight: bold;
  width: 70%;
  height: 30px;
  border-radius: 20px;
  border: none;
  outline: 0;
  cursor: pointer;
}