.background-MyProfile {
  width: 100%;
  background-color: #3181C8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.window-MyProfile {
  background-color: #235789;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  height: 68vh;
  border-radius: 15px;
  padding: 20px;
}

.name-MyProfile {
  font-size: 1.8rem;
}

.name-MyProfile .star-icon-MyProfile {
  color: #FAC748;
  padding-left: 15px;
  font-size: 2.2rem;
  position: absolute;
}

.p-victory-point-MyProfile {
  position: relative;
  bottom: 24px;
  left: 15px;
  color: black;
  font-size: 1rem;
}

.div-avatar-Myprofile {
  margin-top: 30px;
}

.avatar-MyProfile {
  max-width: 200px;
  border-radius: 100px;
}

.div-informations-MyProfile {
  color: #FAC748;
  font-size: 1.2rem;
  display: flex;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
}

.div-informations-MyProfile p {
  padding: 1px
}

.div-informations-MyProfile-empty {
  width: 181px;
  height: 75px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
}

.h1-title-MyProfile {
  font-size: 1.1em;
  padding-bottom: 10px;
  color: white;
}

.button-createdNewGroup-MyProfile {
  background-color: #FAC748;
  color: #235789;
  margin-top: 30px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.7rem;
}

@media screen and (min-width: 600px) {
  .window-MyProfile {
    width: 30vw;
  }
}