*{
  margin: 0; padding: 0; font-family: sans-serif;
}

.container{
  display: flex;
  width: 100%;
  min-height: 50vh;
  padding: 20px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.container .card{
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 5px;
  height: 100px;
  overflow: hidden;
  width: 100px;
  border-radius: 50%;
}

.container .card img{
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}
