.background-PageProfileSettings {
	background-color: #235789;
	height: 68vh;
	width: 85%;
	margin: auto;
	border-radius: 25px;
}

.settings-form {
	margin: 1rem 0;
}

.settings-btn {
	margin: 2rem;
}

.delete-account-btn {
	color: red;
	background-color: transparent;
	outline: transparent;
	border: none;
	text-decoration: underline;
}