.LoginForm-passwordError {
  border: 1px #ef4536 solid;
}

.character-validation {
  color: #73db5a;
}

.character-validation-p {
  padding-left: 10px;
  padding-top: 5px;
  font-size: 0.8rem;
}

.password-error-message {
  display: none;
}

.LoginForm-passwordError + .password-error-message {
  position: absolute;
  display: block;
  padding: 0.5em;
  font-size: 0.6rem;
  text-align: center;
  background-color: #ffdce0;
  border: 1px #cea0a5 solid;
  color: #86181d;
  width: 80%;
  bottom: -1.5em;
}

.CheckPassword-wrapper {
  position: relative;
}
