.login-form,
.register-form {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  margin-top: 15vh;
}

.login-inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.LoginForm-label {
  font-size: 1rem;
  font-weight: bold;
  padding-left: 5%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.LoginForm-input {
  border-radius: 20px;
  border-style: none;
  padding: 4px;
  border: 1px solid transparent;
  height: 30px;
  padding-left: 15px;
  font-size: 1rem;
  font-weight: bold;
  outline: 0;
}

.LoginForm-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.LoginForm-checkboxAlign {
  display: flex;
  align-items: center;
  margin: 2% auto;
}

.label-remember {
  font-size: 0.8rem;
  width: 140px;
  padding-left: 10px;
}

.label-UGC {
  font-size: 0.8rem;
  width: 240px;
  padding-left: 10px;
  text-decoration: underline;
}

.LoginForm-cancelButton {
  background-color: #ef4536;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 20px;
  border-style: none;
  margin-right: 20px;
  height: 40px;
  width: 90px;
  cursor: pointer;
}

.LoginForm-validateButton {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  background-color: #73db5a;
  border-radius: 20px;
  border-style: none;
  height: 40px;
  width: 90px;
  cursor: pointer;
}

@media screen and (max-heigth: 600px) {
  .LoginForm-input {
    height: 20px;
  }

  .LoginForm-label {
    padding: 0;
  }
}