.TabSelector {
  display: flex;
  /* justify-content: space-between;
  width: 100vw; */
  height: 10vh;
}

.TabSelector button {
  border: 2px solid transparent;
  background: white;
  color: #235789;
  font-size: 1rem;
  /* padding: 0.5rem;
  flex-grow: 1; */
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  width: 50%;
}

.TabSelector button {
  border-bottom: 2px solid #eee;
}

.TabSelector button.active {
  border-bottom: 4px solid #FAC748;
  color: #FAC748;
}

.TabSelector button:focus {
  outline: none;
}