.landingPage {
    background-color: #3181C8;
    width: 100vw;
    height: 100vh;
}

.logo-div {
    display: flex;
    justify-content: center;
}

.logoLP {
    width: 90%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}


@media screen and (min-width: 640px){
    .logoLP {
        width: 60%;
        margin-top: 1rem;
    }

    .box-landing {
        display: flex;
        max-width: 100%;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1024px){
    .logoLP {
        width: 50%;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 640px) {

    .landingPage {
        height: 100%;
    }

}