.landingPage {
    background-color: #3181C8;
    width: 100vw;
    height: 100vh;
}

.logo-div {
    display: flex;
    justify-content: center;
    /* margin-bottom: 15%; */
}

.logoLP {
    width: 80%;
}


