.div-pitchBoxDesktop1 {
    display: flex;
    justify-content: space-evenly;
}

.pitchBoxLandingPageDesktop1 {
    background-color: #235789;
    margin: 0 20px;
    border-radius: 25px;
    width: 30vw;
    height: 50vh;
}

.pitchBoxLandingPage-text-Desktop1 {
    margin: 0 10%;
    text-align: center;
    font-size: 25px;
}

.pitch-button-Desktop1 {
    background-color:#FAC748;
	border-radius:28px;
	border:1px solid rgb(247, 193, 57);
	cursor:pointer;
	color:#3181C8;
	font-family:Arial;
	font-size:20px;
	padding:12px 31px;
    text-decoration:none;
    margin: 2em auto 1em auto;
    display: flex;
    outline: none;
}

.pitch-h2-Desktop1 {
    color: #FAC748;
    padding: 5%;
}

.pitch-p-Desktop1 {
    color: #FDFFFC;
}

@media screen and (max-width: 640px) {
    .pitchBoxLandingPageDesktop1 {
        display: none;
    }
    .pitch-button-Desktop1 {
        display: none;
    }
}