.ModalComponent {
  background-color: #235789;
  width: 50%;
  height: 90%;
  margin: auto;
  border-radius: 25px;
  outline: transparent;
  margin-top: 2rem;
}

.modal-title-container {
  background-color: white;
  height: 15vh;
  font-size: 1.3rem;
  border-radius: 25px 25px 0 0;
  padding: 1rem;
  color: #235789;
  display: flex;
  align-items: flex-end;
}

.modal-title {
  font-weight: 400;
}

.modal-button {
  background-color: transparent;
  border: none;
  outline: transparent;
  color: #235789;
  font-size: 1.3rem;
  position: fixed;
  top: 7%;
  right: 30%;
}

@media screen and (max-width: 1025px) {
  .ModalComponent {
    width: 70%;
    height: 90%;
  }

  .modal-button {
    top: 5%;
    right: 20%;
  }
}

@media screen and (max-width: 500px) {
  .ModalComponent {
    width: 100%;
    height: 100%;
    border-radius: 0;
    margin-top: 0;
  }

  .modal-title-container {
    border-radius: 0;
  }

  .modal-button {
    top: 2%;
    right: 3%;
  }
}

@media screen and (max-width: 350px) {
  .modal-title-container {
    height: 10vh;
  }
}