@font-face {
  font-family: 'FuturaBT';
  src: local('FuturaBT'), url(./Fonts/FuturaBT-ExtraBlack.ttf) format('truetype');
}

@font-face {
  font-family: 'FuturaPTMedium';
  src: local('FuturaPTMedium'), url(./Fonts/FuturaPTMedium.otf) format('truetype');
}

* {
  margin: 0;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Mettre le css global  - police, background, margin none,  padding none , textdecoration none stylelist none*/

h2 {
  font-family: FuturaBT;
}

p {
  font-family: FuturaPTMedium;
}